* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(30, 31, 34, 0.9);
}

button {
    border-radius: 16px;
    border-color: #3C3F41;
    color: #A9B7C6;
    background-color: #2B2B2B;
    border-style: solid;
    border-width: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
    font-weight: 600;
    min-width: 140px;
    min-height: 140px;
    margin: 10px;
    padding-top: 90px;
    transition: all 0.2s ease;
}

button:focus, button:active, button:hover {
    background-color: rgba(204, 120, 50, 0.25);
    border-color: #CC7832;
    color: #FFFFFF;
    outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}